body {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    overflow-y: scroll;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #777;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    position: relative;
}

.content {
    padding: 15px;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: rgba(0, 0, 0, 0.06);
}

h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 600;
}

h1 span {
    font-family: monospace, serif;
}

h3 {
    padding-bottom: 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.9);
}

p {
    margin: 0;
    padding: 10px 0;
    color: #777;
}

.clear {
    clear: both;
}

/* -----------------------------------------
=CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}

.load-wrapp p {
    padding: 0 0 20px;

}

.load-wrapp:last-child {
    margin-right: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282b3;
}

.letter-holder {
    padding: 16px;
}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}

/* =Animate the stuff
------------------------ */

.load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
}


.l-3 {
    animation-delay: 0.72s;
}


@keyframes loadingA {
    0 {
        height: 15px;
    }

    50% {
        height: 35px;
    }

    100% {
        height: 15px;
    }
}

@keyframes loadingB {
    0 {
        width: 15px;
    }

    50% {
        width: 35px;
    }

    100% {
        width: 15px;
    }
}

@keyframes loadingC {
    0 {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes loadingD {
    0 {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingE {
    0 {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingF {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(70px, 0) rotate(360deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes loadingH {
    0% {
        width: 15px;
    }

    50% {
        width: 35px;
        padding: 4px;
    }

    100% {
        width: 15px;
    }
}

@keyframes loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes loadingJ {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(80px, 0);
        background-color: #f5634a;
        width: 25px;
    }
}

.info {
    background-color: rgba(125, 227, 0, 0.2);
    border: 2px solid #006CE3;
}

.info .icon {
    background-color: #006CE3;
}

.toast{
    position: absolute;
    top: 0;
    right: 0;
}

.alert {
    display: none;
    align-items: center;
    padding: 0.55rem 0.65rem 0.55rem 0.75rem;
    border-radius: 1rem;
    min-width: 400px;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: #FFB700;
    box-shadow:
        0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
        0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
        0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
        0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
        0px 48px 208.9px rgba(0, 0, 0, 0.05),
        0px 115px 500px rgba(0, 0, 0, 0.07)

}

.def {
    display: flex;
    align-items: center;
}

.def p{
    color: white;
    font-weight: 800;
    text-align: right;
    font-family: 'Pinar';
    font-size: .7rem;
}
.icon {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 39% 61% 42% 58% / 50% 51% 49% 50%;
    box-shadow:
        0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
        0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
        0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
        0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
        0px 48px 208.9px rgba(0, 0, 0, 0.05),
        0px 115px 500px rgba(0, 0, 0, 0.07)
}

.close {
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover {
    background-color: #fff;
}